@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Lato:wght@300;400&display=swap");
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
}

h1 {
  font-family: 'Arvo', serif;
}

.extraBig, main .menu .title p, main .menu .item .info .quantity, main .cart .title, main .cart .cartItem .info .quantity {
  font-size: 48px;
  font-family: 'Arvo', serif;
}

.big, main .menu .item button.minus, main .menu .item button.plus, main .cart .transaction .total, main .cart .cartItem button.minus, main .cart .cartItem button.plus, .modal .productDataForm .header .title {
  font-size: 24px;
  font-family: 'Arvo', serif;
}

.medium, nav button, main .menu .title button, main .menu .item .info .productName, main .cart .transaction button, main .cart .cartItem .info .productName {
  font-size: 18px;
}

.small, nav p, main .menu .sub, main .menu .item .info .productPrice, main .menu .item button.addToCard, main .cart .transaction .sub, main .cart .cartItem .info .productPrice, main .cart .cartItem button.addToCard, .modal .productDataForm > .textField, .modal .productDataForm button {
  font-size: 14px;
}

.extraSmall {
  font-size: 10px;
}

.bold, main .menu .title p, main .menu .item .info .quantity, main .menu .item .info .productName, main .cart .title, main .cart .transaction .total, main .cart .transaction button, main .cart .cartItem .info .quantity, main .cart .cartItem .info .productName, .modal .productDataForm .header .title {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.light, main .menu .sub, main .cart .transaction .sub, .modal .productDataForm > .textField {
  font-weight: 300;
}

.flex-column, .modal .productDataForm > .textField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  width: 100vw;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffbc43;
  height: 9vh;
  padding: 0 5vw;
  color: white;
}

nav p {
  margin-top: -3px;
}

nav button {
  border: none;
  background-color: #ffbc43;
  color: white;
  cursor: pointer;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 9vh 5vw;
  width: 100%;
}

main .menu {
  padding-right: 8vw;
  width: 100%;
}

main .menu .title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .menu .title button {
  border: none;
  background-color: #fcfcfc;
  cursor: pointer;
}

main .menu .sub {
  margin-bottom: 2vh;
  margin-top: -5px;
}

main .menu #search {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 2vh;
}

main .menu .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffbc43;
  color: white;
  border-radius: 7px;
  margin-bottom: 7px;
}

main .menu .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 400px;
}

main .menu .item .info .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  min-width: 130px;
  margin-right: 10px;
}

main .menu .item button {
  border: none;
  background-color: #ffbc43;
  color: white;
  cursor: pointer;
}

main .cart {
  padding-right: 8vw;
  width: 100%;
}

main .cart .title {
  margin-bottom: 2vh;
}

main .cart .transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 2vh;
}

main .cart .transaction button {
  border: none;
  background-color: #ffbc43;
  color: white;
  cursor: pointer;
  height: 100%;
  width: 30%;
  padding: 7px 0;
  max-width: 150px;
  border-radius: 7px;
}

main .cart .cartItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffbc43;
  color: white;
  border-radius: 7px;
  margin-bottom: 7px;
}

main .cart .cartItem .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 400px;
}

main .cart .cartItem .info .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  min-width: 130px;
  margin-right: 10px;
}

main .cart .cartItem button {
  border: none;
  background-color: #ffbc43;
  color: white;
  cursor: pointer;
}

.disabled {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.modal .productDataForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 25vw;
  min-width: 350px;
  border-radius: 20px;
  padding: 30px;
}

.modal .productDataForm .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.modal .productDataForm .header .close {
  height: 15px;
  width: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

.modal .productDataForm > .textField {
  margin: 2px 0 0 0;
}

.modal .productDataForm > .textField input {
  margin: 5px 0;
  padding: 5px;
  border: 1.9px solid #7b7b7b;
  border-radius: 5px;
}

.modal .productDataForm button {
  border: none;
  background-color: #ffbc43;
  color: white;
  cursor: pointer;
  width: 30%;
  padding: 7px 0;
  max-width: 150px;
  border-radius: 7px;
  margin-top: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 950px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main > * {
    padding-bottom: 5vh;
  }
}
/*# sourceMappingURL=admin.css.map */