@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Lato:wght@300;400&display=swap');

$rootColor : #fcfcfc;
$primaryColor: #ffbc43;
$secondaryColor: #6EBEE0;

$primaryTextColor: #0e0313;
$secondaryTextColor: #777777;

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $rootColor;
}

h1{
    font-family: 'Arvo', serif;
}

// utilities
.extraBig{
    font-size: 48px;
    font-family: 'Arvo', serif;
}
.big{
    font-size: 24px;
    font-family: 'Arvo', serif;
}
.medium{
    font-size: 18px;
}
.small{
    font-size: 14px;
}
.extraSmall{
    font-size: 10px;
}

.bold{
    font-weight: 700;
}
.regular{
    font-weight: 400;
}
.light{
    font-weight: 300;
}

.flex-column{
    display: flex;
    flex-direction: column;
}