@import 'main';

body{
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primaryColor;
    height: 9vh;
    padding: 0 5vw;
    color: white;
    p{
        @extend .small;
        margin-top: -3px;
    }

    button{
        @extend .medium;
        border: none;
        background-color: $primaryColor;
        color: white;
        cursor: pointer;
    }
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 9vh 5vw;
    width: 100%;

    .menu{
        padding-right: 8vw;

        .title{
            @extend .extraBig, .bold;
            margin-bottom: 2vh;
        }
        #search{
            width: 100%;
            padding: 10px;
            border-radius: 7px;
            margin-bottom: 2vh;
        }
        .item{
            width: 100%;
            display:flex;
            padding: 0 15px;
            justify-content: space-between;
            align-items: center;
            background-color: $primaryColor;
            color: white;
            border-radius: 7px;
            margin-bottom: 7px;

            .info{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                max-width: 400px;

                .controls{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 20%;
                    min-width: 130px;
                    margin-right: 10px;
                }
                .quantity{
                    @extend .bold, .extraBig;
                }

                .productName{
                    @extend .bold, .medium;
                }
                .productPrice{
                    @extend .small;
                }
            }

            button{
                border: none;
                background-color: $primaryColor;
                color: white;
                cursor: pointer;
            }

            button.addToCard{
                @extend .small;
            }

            button.minus, button.plus{
                @extend .big;
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}